---
import DefaultLayout from "../layouts/defaultLayout.astro";
---

<DefaultLayout>
    <div class="hero h-full">
        <div class="hero-content text-center">
            <div class="max-w-xl">
                <h1 class="text-5xl font-bold">404: Page not found. 😢</h1>
                <p class="py-6">
                    But don't lose hope! I'm working on it. In the meantime, why
                    not enjoy a virtual cup of coffee and a byte-sized snack?
                    I'll have this page back faster than you can say my last
                    name.
                </p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</DefaultLayout>
