---
import Center from "@components/center.astro";
import Layout from "@lay";
---

<Layout>
    <Center>
        <h1 class="text-5xl">Error 404</h1>
        <span>Manners not found</span>
    </Center>
</Layout>
