---
import Center from "@components/center.astro";
import Layout from "@lay";
---

<Layout>
	<Center>
		<div class="flex flex-row items-center gap-4">
			<h1 class="text-5xl">
				Lutz
				<span class="text-xl text-primary opacity-20">
					(alle Pronomen)
				</span>
				<br />Pfannenschmidt
			</h1>
			<p>
				<span>いたずらをしろ <br />Doing stuff</span>
			</p>
		</div>
	</Center>
</Layout>
