---
import DefaultLayout from "../layouts/defaultLayout.astro";
---

<DefaultLayout title="Lutz Pf | Projects">
  <div class="hero h-full">
    <div class="hero-content text-center">
      <div class="max-w-xl">
        <h1 class="text-5xl font-bold p-4">My Projects</h1>
        <h2 class="text-2xl">Cooming soon</h2>
        <h1 class="text-8xl font-bold">☠️</h1>
      </div>
    </div>
  </div>
</DefaultLayout>