---
import GithubIcon from "./icons/githubIcon.astro"
import LinkedinIcon from "./icons/linkedinIcon.astro"
---

<footer class="footer footer-center p-10 bg-base-200 text-primary-content">
  <aside>
    <p class="font-bold">
      Made with ♥ by Lutz Pfannenschmdt. <br/>
      Student & Programmer
    </p> 
    <p>Copyright © 2023 - All right reserved</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" href="https://github.com/Lutz-Pfannenschmidt"><GithubIcon/></a>
      <a target="_blank" href="https://www.linkedin.com/in/lutz-pfannenschmidt/"><LinkedinIcon/></a>
    </div>
  </nav>
</footer>