---
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="onion"
            href="http://lutzpfdprezdjyzrktwtdz54y2spwv6r5mix3piqf6wgipoi2b4pfeid.onion/"
        />
        <title>{title}</title>
    </head>
    <!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
    span.emoji {
      font-family: 'Noto Color Emoji', sans-serif;
    }
  </style>  -->
    <div class="min-h-screen w-screen flex flex-col">
        <Navigation />

        <main class="flex-grow">
            <slot />
        </main>
    </div>

    <Footer />


</html>
